/* Tablet and below */
@media (max-width: 1024px) {

    .carousel {
        width: 100%;
    }

    .h6 {
        font-size: 0.8rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .btn-sm {
        font-size: 0.8rem;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .carousel {
        width: 100%;
    }

    .h6 {
        font-size: 0.7rem;
    }

    .description {
        font-size: 0.7rem;
    }

    .btn-sm {
        font-size: 0.6rem;
    }
}