html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title-bg {
    display: inline-block;
    background: rgba(0,0,0,0.6); /* Example: semi-transparent black */
    border-radius: 0.25rem;
    padding: 0.25em 0.75em;
}

.title {
    color: #fff;
    margin: 0;
}

.description {
    display: inline-block;
    background: rgba(0,0,0,0.6);
    semi-transparent black color: #fff;
    border-radius: 0.25rem;
    padding: 0.25em 0.75em;
    margin-top: 0.5em;
    color: #fff;
    margin: 0;
}
