@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site shows how to consume the News APIs I have registered on Rapid API. Use the Nav control above to see each example in action.</p>
</div>
